@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Libre Barcode 128 Text', cursive;
    src: url('assets/LibreBarcode128Text-Regular.ttf');
}


.line-bg {
    background-color: #e5e5f7;
    opacity: 0.8;
    background: repeating-linear-gradient( -45deg, #ecceff3f, #ecceff3f 5px, #e5e5f700 5px, #e5e5f700 25px ); 
    /* , url('assets/star.svg') left top no-repeat */
}


html {
    scroll-behavior: smooth;
  }